caption {
    background-color: white;
    border: .5px solid black;
}

table {
    background-color: white;
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    border: .5px solid black;
}

td {
    border: .5px solid black;
}