/* =========Standard View========= */
@media screen and (min-width: 900px) {
    
/* ---------Main--------- */
    #team-huddle {
        display: inline-block;
        max-width: 60%;
    }

    #team-huddle img {
        width: 100%;
    }

    .schedule-container {
        display: inline-block;
        vertical-align: top;
        margin-top: 250px;
        margin-left: 80px;
        padding: 40px;
    }
    
    #upcoming-index {
        padding: 20px;
    }

    #previous-index {
        margin-top: 10px;
        padding: 20px;
    }

    .team-container {
        display: flex;
        justify-content: space-around;
        
    }

    .table-container {
        align-items: center;
    }

    .roster {
        margin-top: 160px;
    }

    .store-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #store-items-homepage {
         display: flex;
         gap: 100px;
    }
}

/* =========Mobile View========= */
@media screen and (max-width: 900px) {

/* ---------Main--------- */
    #team-huddle img {
        width: 100%;
    }

    .schedule-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .schedule-container p {
        text-align: center;
    }

    .team-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        padding-top: 10px;
    }

    .store-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #upcoming-index {
        padding: 20px;
    }

    #previous-index {
        margin-top: 10px;
        padding: 20px;
    }

}

/* =========Universal========= */
body {
    margin: 0 auto;
}

/* ---------Main--------- */
#team-huddle {
    margin-top: 40px;
}

.roster th {
    padding: 15px;
}

.roster td {
    padding: 10px;
}