body {
    margin: 0 auto;
}

#jersey {
    max-width: 250px;
}

/* =========Standard View========= */
@media screen and (min-width: 900px) {
    main {
        padding-left: 50px;
    }

    h2 {
        margin-left: 19%;
    }

    .top-store-row {
        display: flex;
    }

    .bottom-store-row {
        display: flex;
    }
}

/* =========Mobile View========= */
@media screen and (max-width: 900px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px
    }
}